[package]
name = "rustboycolor"
version = "0.1.0"
authors = ["pierreyoda <pierreyoda@users.noreply.github.com>"]
autobins = false

[[bin]]
name = "rustboycolor"
path = "src/bin/main.rs"

[lib]
name = "rustboylib"
path = "src/lib.rs"

[features]
default = []

tracing = []

[dependencies]
log = "0.4.5"
toml = "0.4.8"
bitflags = "1.0.4"

[dependencies.clap]
version = "2.32.0"
default-features = false
features = ["suggestions", "color", "vec_map", "wrap_help"]

[dependencies.sdl2]
version = "0.30.0"
default-features = false
features = ["ttf"]
